
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BIENVENIDO AL GESTOR DE VISITAS</h2>


<p>
    Gestión es asumir y llevar a cabo las responsabilidades sobre un proceso (es decir, sobre un conjunto de actividades), esto puede ser empresarial o personal, lo que incluye:

    La preocupación por la disposición de los recursos y estructuras necesarias para que tenga lugar.
    La coordinación de sus actividades (y correspondientes interacciones).y sus semejantes
    El término gestión es utilizado para referirse al conjunto de acciones, o diligencias que permiten la realización de cualquier actividad o deseo. Dicho de otra manera, una gestión se refiere a todos aquellos trámites que se realizan con la finalidad de resolver una situación o materializar un proyecto. En el entorno empresarial o comercial, la gestión es asociada con la administración de un negocio.
</p>

